@page
@model MyCityPlan_Demo.Pages.HelloWorld.IndexModel
@{
}
<h3>DataBase City Events</h3>
<a href="\Benutzers\index"><button class"btn btn-primary">Your City Event plan</button></a> 
<a href="\Benutzers\create"><button class"btn btn-primary">+ Plan new Events</button></a>

@{


}