@page
@model MyCityPlan_Demo.Pages.HelloWorld.IndexModel
@{
    ViewData["Title"] = "Your City Plan - Events";
}

<h3>Welcome to our Plan Mode</h3>
<p>
    Swapping to the <strong>Plan</strong> environment displays detailed information about the Events.
</p><br /><br />
<p>
    <strong>Here you can plan your events and enter your interests. </strong>
</p><br />
<h3>DataBase City Events</h3>
<a href="\Benutzers\index"><button class"btn btn-primary">Your City Event plan</button></a> 
<a href="\Benutzers\create"><button class"btn btn-primary">+ Plan new Events</button></a>
<a href="\Benutzers\delete"><button class"btn btn-primary">Delete Your City Event plan</button></a> 
<a href="\Benutzers\edit"><button class"btn btn-primary">Edit Your City Event plan</button></a>
@{


}





