@page
@model MyCityPlan_Demo.Pages.HelloWorld.IndexModel
@{
}
<h3>DataBase Benutzer</h3>
<a href="\Benutzers\index">- Übersicht Benutzer</a> 
<a href="\Benutzers\create">- Anlegen Benutzer</a>

@{


}