@page
@model MyCityPlan_Demo.Pages.HelloWorld.IndexModel
@{



}
<h3>DataBase</h3>
<p>The time on the server is @DateTime.Now</p>
<hr />
<iframe src="\Benutzers\index" border="1" width="800" height="600"></iframe>
<hr />
<a href="\Benutzers\index">- Übersicht Benutzer</a>


