@page
@model IndexModel
@{
    ViewData["Title"] = "MyCityPlan";
}

<div class="text-center">
    <h3>Your City</h3>
    <p>
        Welcome to <strong>Munich</strong> getting detailed information.
    </p>

</div>
    <blockquote>
        <p>

            Experience your city like a tourist. When we move around in a familiar environment, the ...
            Discover new ways by bike or on foot. Just a quick shopping, to the next ...
            Explore the city with children with themed walks. Street art, wild herbs, blue bikes, ...
            New acquaintances: talk to strangers. On vacation we are relaxed and open to new
        </p>
    </blockquote>


