@page
@model PrivacyModel
@{
    ViewData["Title"] = "Data Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br /><br />
<p>We process the following data according to DSVG</p><br /><br />


<p>
   - Email
   </p>
   <br />
   <p>
- Names
   </p>
   <br />
   <p>
- First name
   </p>
   <br />
   <p>
- Interests
   </p>
   <br />
   <p>
- Time frame for an event
   </p>
   <br />
   <p>
- Taste
   </p>
   <br />
   <p>
- Frequency of events clicked
   </p>
   <br />
   <p>
- Frequency of use of the website
   </p>
   <br />

   d